.color-blue {
  color: blue;
  font-size: 3rem;
  margin: 3rem;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 3rem;
}

.card {
  width: 200px;
  border: 1px solid rgb(210, 207, 207);
  padding: 1rem;
}

img {
  width: 100px;
  height: 100px;
}

.text-center {
  text-align: center;
}
